<app-home-header></app-home-header>
<div *ngIf="false" class="preloader">
    <img src="../../../../../assets/images/_ws.gif" alt="">
</div>

<section class="intro"   style="background-image:url(assets/img/Heading.png)">
    <div class="overlay">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-12">
                    <div routerLink="/purchase-platform" class="go-back">
                        <i class="fa fa-chevron-left"></i>
                        <span>Back</span>
                    </div>
                    <div class="flexf">
                        <div class="Fssimg">
                            <img src="../../../../assets/img/company/panda.png">

                        </div>
                        <h3 class="font-weight-bold ">
                            School Name
                        </h3>


                    </div>

                    <div class="fssdesc">
                        <p class="spacer"></p>
                        <table>
                            <tr class="">
                                <td>
                                    <i class="fa fa-folder-open "></i>
                                    Category Name
                                </td>

                            </tr>
                            <tr>
                                <td>

                                    <div class="btn btn-success btn-sm status-btn " dis>Open</div> <span>7 Days Left</span>
                                </td>


                            </tr>
                        </table>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="news" >
    <div class="container">
        <div >

            <div class="row">
                <div class="col-md-12 timeline-identicator shadowed">
                    <div class="progress">

                        <span>
                            <span class="date-started-top">
                                Date Posted
                            </span>
                            <i class="fa fa-circle start-date"></i>
                            <span class="date-started-bottom">
                                11/7/2018
                            </span>
                        </span>
                        <span>
                            <span class="current-date-top">
                                Current Date
                            </span>
                            <i class="fa fa-circle percentage"></i>
                            <span class="current-date-bottom">
                                15/8/2018
                            </span>
                        </span>
                        <span>
                            <span class="end-date-top">
                                Closing Date
                            </span>
                            <i class="fa fa-circle end-date"></i>
                            <span class="end-date-bottom">
                                20/10/2018
                            </span>
                        </span>
                        <div class="progress-bar bg-info" style="width:60%"></div>
                    </div>

                </div>

                <div class="col-md-3 col-lg-3 order-md-1 mb-4">
                    <div class="request-side-bar shadowed">
                        <div class="Fssimg-small"><img src="../../../../assets/img/company/panda.png"></div>
                        <h5>Published by</h5>
                        <h6 class="side-school-name">School Name </h6>
                        <hr>
                        <h6 class="side-details">Publication Date : <span>9/11/2018</span></h6>
                        <h6 class="side-details">Category : <span>Electric</span></h6>
                        <h6 class="side-details">Address : <span>9 maaly st. roxy</span></h6>
                        <h6 class="side-details">Days left : <span>7 days</span></h6>
                    </div>
                    



                </div>


                <div class="col-md-9 col-lg-9 order-md-2 offer-details shadowed">
                    <br>
                    <h4 class="offer-d-title"><span>Details</span></h4>

                    <hr>
                    <h4 class="mb-3 offer-r-title ">Request Title</h4>
                    <!-- <p class="details">
                        {{offer_details['offer_explaination']}}
                    </p> -->
                    
                    <p class="details">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque incidunt error similique, veritatis vitae qui vero facere
                        sequi reprehenderit minima aliquid at autem quod ipsa delectus dolores id quis modi!
                    </p>
                    <p class="details ">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque incidunt error similique, veritatis vitae qui vero facere
                        sequi reprehenderit minima aliquid at autem quod ipsa delectus dolores id quis modi!
                    </p>
                    <p class="details">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque incidunt error similique, veritatis vitae qui vero facere
                        sequi reprehenderit minima aliquid at autem quod ipsa delectus dolores id quis modi!
                    </p>
                    <p class="details">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque incidunt error similique, veritatis vitae qui vero facere
                        sequi reprehenderit minima aliquid at autem quod ipsa delectus dolores id quis modi!
                    </p>






                    <!-- <div *ngIf="showSucces" class="alert-success">
                        Request succeeded !
                    </div> -->
                    <!-- (click)="requestOffer()" -->
                    <button class="btn btn-success btn-lg btn-block bottom-d-button"  type="submit">Offer Your Service</button>
                    
                </div>


            </div>
        </div>
    </div>
</section>



<app-footer></app-footer>