<app-home-header></app-home-header>
<div *ngIf="!requestDetails" class="preloader">
    <img src="../../../../../assets/images/_ws.gif" alt="">
</div>

<section class="intro"   style="background-image:url(assets/img/Heading.png)" *ngIf="requestDetails">
    <div class="overlay">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-12">
                    <div routerLink="/purchase-platform" class="go-back">
                        <i class="fa fa-chevron-left"></i>
                        <span>Back</span>
                    </div>
                    <div class="flexf">
                        <div class="Fssimg">
                            <img  src="data:image/png;base64,{{requestDetails['school_logo_image']}}">

                        </div>
                        <h3 class="font-weight-bold " style="text-transform: capitalize;">
                            {{requestDetails['school_name']}}
                        </h3>


                    </div>

                    <div class="fssdesc">
                        <p class="spacer"></p>
                        <table>
                            <tr class="">
                                <td>
                                    <i class="fa fa-folder-open "></i>
                                    {{requestDetails['request_category_name']}}
                                </td>

                            </tr>
                            <tr>
                                <td *ngIf="daysLeft">

                                    <div class="btn btn-success btn-sm status-btn disabled" >Open</div> <span>{{daysLeft}} Days Left</span>
                                    
                                </td>
                                <td *ngIf="!daysLeft">
                                        <div class="btn btn-danger btn-sm status-btn disabled" >closed</div>
                                </td>


                            </tr>
                        </table>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="news" *ngIf="requestDetails">
    <div class="container">
        <div >

            <div class="row">
                <div class="col-md-12 timeline-identicator shadowed">
                    <div class="progress">

                        <span>
                            <span class="date-started-top">
                                Date Posted
                            </span>
                            <i class="fa fa-circle start-date"></i>
                            <span class="date-started-bottom">
                                {{requestDetails['request_display_date'] | date :  "dd/MM/yyyy"}}
                            </span>
                        </span>
                        <span>
                            <span class="current-date-top">
                                Current Date : <span>{{today | date :  "dd/MM/yyyy"}}</span> 
                            </span>
                            <i class="fa fa-circle percentage" [style.marginLeft.%] ="timeLinePrecent-1" ></i>
                            <span class="days-left-bottom" [class.done]="!daysLeft">
                                {{daysLeft}}&nbsp;Days Left
                            </span>
                        </span>
                        <span>
                            <span class="end-date-top">
                                Closing Date
                            </span>
                            <i class="fa fa-circle end-date"></i>
                            <span class="end-date-bottom">
                                {{requestDetails['request_expired_date'] | date :  "dd/MM/yyyy"}}
                            </span>
                        </span>
                        <div class="progress-bar bg-info" [style.width.%]="timeLinePrecent"></div>
                    </div>

                </div>

                <div class="col-md-4 col-lg-4 order-md-1 mb-4">
                    <div class="request-side-bar shadowed">
                        <div class="Fssimg-small"><img src="data:image/png;base64,{{requestDetails['school_logo_image']}}"></div>
                        <h5>Published by</h5>
                        <h6 class="side-school-name">{{requestDetails['school_name']}}</h6>
                        <hr>
                        <h6 class="side-details">Publication Date : <span>{{requestDetails['request_display_date'] | date :  "dd/MM/yyyy"}}</span></h6>
                        <h6 class="side-details">Category : <span>{{requestDetails['request_category_name']}}</span></h6>
                        <h6 class="side-details">Days left : <span>{{daysLeft}}&nbsp;Days Left</span></h6>
                        <h6 class="side-details">Views : <span>{{requestDetails['views_count']}}&nbsp; view</span></h6>
                    </div>
                    



                </div>


                <div class="col-md-8 col-lg-8 order-md-2 offer-details shadowed">
                    <br>
                    <h4 class="offer-d-title"><span>Details</span></h4>

                    <hr>
                    <h4 class="mb-3 offer-r-title ">{{requestDetails['request_title']}}</h4>
                    <!-- <p class="details">
                        {{offer_details['offer_explaination']}}
                    </p> -->
                    
                    <p class="details">
                        {{requestDetails['request_explaination']}}
                    </p>
                    <div class="form-group">
                        <label for="cost">Your Service Cost</label>
                        <input name="cost" [(ngModel)]="service_details.responsed_cost" type="number" class="form-control-file" id="cost" aria-describedby="costtHelp" placeholder="0" required>
                        <small id="costtHelp" class="form-text text-muted">This is the payment you require to fulfill this school needs [saudi riyals].</small>
                      </div>
                    <div *ngIf="showSucces" class="alert-success white-bg">
                        Request succeeded !
                    </div>
                    <div *ngIf="showFail" class="alert-warning white-bg">
                        Request failed ! only companies can offer it's service.
                    </div>
                    <div *ngIf="isClosed" class="alert-warning white-bg">
                        It's closed Now
                    </div>
                    <button class="btn btn-success btn-lg btn-block bottom-d-button" [attr.disabled]="!service_details.responsed_cost || isClosed || showSucces? true: null"  (click)="offerYourService()" type="submit">Offer Your Service</button>
                    
                </div>


            </div>
        </div>
    </div>
</section>



<app-footer></app-footer>