<app-header></app-header>
<!--section -->
<section class="intro" style="background-image:url(assets/img/index/footer.png)">
	<div class="overlay">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-12 m-auto">
					<h3 class="font-weight-bold">A Building With Four Walls And Tomorrow Inside</h3>
					<p class="description m-auto text-center">Engaging all students in partnership with family and community to be informed compassionate, global citizens </p>
					<button class="d-block mx-auto btn btn-success" [routerLink]="['/sign-up']"><i class="fa fa-hand-pointer-o" aria-hidden="true"></i>Register Now</button>
					<a href="" class="d-block text-center btn-work">How it Work ?</a>

					<!-- <ul class="list-unstyled list-inline text-center">
						<li class="list-inline-item"><a href=""><img src="assets/img/index/souq.png" alt=""></a></li>
						<li class="list-inline-item"><a href=""><img src="assets/img/index/souq.png" alt=""></a></li>
						<li class="list-inline-item"><a href=""><img src="assets/img/index/souq.png" alt=""></a></li>
						<li class="list-inline-item"><a href=""><img src="assets/img/index/souq.png" alt=""></a></li>
						<li class="list-inline-item"><a href=""><img src="assets/img/index/souq.png" alt=""></a></li>
					</ul> -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Start s -->
<section class="services">
	<div class="container">
		<h2 class="text-center"><span>Evaaz</span> Services</h2>
		<p class="text-center description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore ,</p>
		<div class="row">
			<div class="col-lg-4 col-md-6 col-12 d-flex align-items-stretch">
				<div class="card" style="background-image:url(assets/img/index/01.png)">
					<div class="overlay">
						<div class="meta d-flex align-items-baseline justify-content-start flex-column-reverse h-100">
							<a [routerLink]="['/offer-platform']" class="btn">more<i class="fa fa-chevron-right"></i></a>
							<p>Colombia is heading for afarun-off its presidentiatee achieves 50%..></p>
							<a [routerLink]="['/offer-platform']" style="background-color:transparent;color:#000"><h4 ><span class="font-weight-bold">Offers</span> Platform</h4></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-12 d-flex align-items-stretch">
				<div class="card" style="background-image:url(assets/img/index/01.png)">
					<div class="overlay">
						<div class="meta d-flex align-items-baseline justify-content-start flex-column-reverse h-100">
							<a [routerLink]="['/unifying-platform']" class="btn">more<i class="fa fa-chevron-right"></i></a>
							<p>Colombia is heading for afarun-off its presidentiatee achieves 50%..></p>
							<a [routerLink]="['/unifying-platform']" style="background-color:transparent;color:#000"><h4 ><span class="font-weight-bold">Unifying</span> Platform</h4></a>
						</div>
					</div>
				</div>
				
			</div>
			<div class="col-lg-4 col-md-6 col-12 d-flex align-items-stretch">
				<div class="card" style="background-image:url(assets/img/index/01.png)">
					<div class="overlay">
						<div class="meta d-flex align-items-baseline justify-content-start flex-column-reverse h-100">
							<a [routerLink]="['/purchase-platform']" class="btn">more<i class="fa fa-chevron-right"></i></a>
							<p>Colombia is heading for afarun-off its presidentiatee achieves 50%..></p>
							<a [routerLink]="['/purchase-platform']" style="background-color:transparent;color:#000"><h4 ><span class="font-weight-bold">Purchasing</span> Platform</h4></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Start About -->
<section class="about" style="background-image:url(assets/img/index/05.png)">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-12 content">
				<p>About Efaz ?</p>
				<h3 class="font-weight-bold">we provide educational support services</h3>
				<a href class="btn btn-primary"> Start with Efaz</a>
			</div>
			<div class="col-md-5 col-12 d-flex justify-content-center">
				<video height="240" controls>
					<source src="assets/video/about.mp4" type="video/mp4">
				</video>
			</div>
		</div>
	</div>
</section>
<!-- End About -->

<!-- Start News -->
<section class="news">
	<div class="container">
		<h2 ><span>Efaz</span> News</h2>
		<p class="description">Lorem ipsum dolor sit amet,</p>
		<div class="row">
			<div class="col-lg-3 col-md-6 col-12 d-flex align-items-stretch">
				<div class="card" style="background-image:url(assets/img/index/01.png)">
					<div class="overlay">
						<div class="date-container">
							<div class="date d-inline-flex flex-column">
								<span class="month d-block">Jan</span>
								<span class="day d-block">15</span>
							</div>
						</div>
						<div class="meta d-flex align-items-baseline justify-content-start flex-column-reverse">
							
							<p>Colombia is heading for afarun-off its presidentiatee achieves 50%..<a href="">more</a></p>
							<h4 class="font-weight-bold">Colombia election: Run expected in first vote!</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-12 d-flex align-items-stretch">
				<div class="card" style="background-image:url(assets/img/index/01.png)">
					<div class="overlay">
						<div class="date-container">
							<div class="date d-inline-flex flex-column">
								<span class="month d-block">Jan</span>
								<span class="day d-block">15</span>
							</div>
						</div>
						
						<h4 class="font-weight-bold">Colombia election: Run expected in first vote!</h4>
						<p>Colombia is heading for afarun-off its presidentiatee achieves 50%..<a href="">more</a></p>
					</div>
				</div>
				
			</div>
			<div class="col-lg-3 col-md-6 col-12 d-flex align-items-stretch">
				<div class="card" style="background-image:url(assets/img/index/01.png)">
					<div class="overlay">
						<div class="date-container">
							<div class="date d-inline-flex flex-column">
								<span class="month d-block">Jan</span>
								<span class="day d-block">15</span>
							</div>
						</div>
						<h4 class="font-weight-bold">Colombia election: Run expected in first vote!</h4>
						<p>Colombia is heading for afarun-off its presidentiatee achieves 50%..<a href="">more</a></p>	
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-12 d-flex align-items-stretch">
					<div class="card" style="background-image:url(assets/img/index/01.png)">
						<div class="overlay">
							<div class="date-container">
								<div class="date d-inline-flex flex-column">
									<span class="month d-block">Jan</span>
									<span class="day d-block">15</span>
								</div>
							</div>
							<h4 class="font-weight-bold">Colombia election: Run expected in first vote!</h4>
							<p>Colombia is heading for afarun-off its presidentiatee achieves 50%..<a href="">more</a></p>
						</div>
					</div>
				</div>
		</div>
		<div class="more-row text-center"><a href="" class="btn">more</a>
		</div>
	</div>
</section> <!-- End How Work -->
<!-- Start How Work -->
<section class="how-work" style="background-image:url(assets/img/index/how-2.jpeg)">
	<div class="overlay">
		<div class="container">
			<h2 class="text-center"><span>How</span> It Work ?</h2>
			<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
			<div class="row justify-content-between content">
				<div class="col-md-4 col-12">
					<div class="item">
						<img class="img-fluid" src="assets/img/index/6_.png" alt="" />
						<h4>Register now</h4>
						<p>Register on the site and choose your type now</p>
					</div>
				</div>
				<div class="col-md-4 col-12">
					<div class="item">
						<img class="img-fluid" src="assets/img/index/7.png" alt="" />
						<h4>Let's Choose</h4>
						<p>Register on the site and choose your type now</p>
					</div>
					
				</div>
				<div class="col-md-4 col-12">
					<div class="item">
						<img class="img-fluid" src="assets/img/index/8.png" alt="" />
						<h4>Win with Efaz</h4>
						<p>Register on the site and choose your type now</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> <!-- End How Work -->

<!-- Start Connection with apps -->
<section class="download-apps d-flex align-items-center">
	<div class="container">
		<div class="row justify-content-between content">
			<div class="m-auto">
				<h4 class="font-weight-bold">Let's start with <span>EFAZ</span></h4>
				<p class="">to increase the paid you and invest in tomorrow</p>
			</div>

			<div class="m-auto">
				<a href=""><img class="img-fluid" src="assets/img/index/google_store.png" alt="" /></a>
				<a href=""><img class="img-fluid" src="assets/img/index/app_store.png" alt="" /></a>
			</div>
		</div>
	</div>
</section> <!-- End Connection with apps -->
<app-footer></app-footer>