
<div class="container">
<div class="" style="margin-top: 100px">
  <ul class="breadcrumb ">
      <li class="breadcrumb-item">
          <a [routerLink]="['/admin']">Admin</a>
      </li>
     
      <li class="breadcrumb-item ">
        <a [routerLink]="['/admin','requests']">Requests</a>
      </li>
      <li class="breadcrumb-item active">
        View
      </li>
  </ul>
</div>

<div class="row justify-content-center">
    <img *ngIf="isLoading" class="mt-3" src="../../../assets/images/load.gif" alt="">
</div>
<div class="col-sm-12" *ngIf="!isLoading">
        
  <div class="card card-big">
    <div class="card-title mx-4 mt-2">
      <!-- Taj tenders  <br> {{this.date | date}}
      <div class="pull-right">
         <button class="btn view-btn" [routerLink]="['/school/tender/view']">View</button>
      </div>  -->
      <div class="row">
        <div class="col-sm-6">
          {{profile.registration_organization_name}}  <br> <div style="color: grey">{{profile.registeration_date | date:'short'}}
             <br> <span style="font-size: 20px;"> Role ({{profile.registration_role}})</span> </div>
        </div>
            
        <div class="col-sm-3" style="margin-left: 230px;">
          <div class="row">

         
        <div class="col-sm-4">
          <button class="btn view-btn" style=" margin-top: 10px; background-color: #12a5e1; " (click)="considerRequest(profile.registration_id)">Consider</button>
        </div>
        <div class="col-sm-4">
          <button class="btn" style=" margin-top: 10px; color: white; background: firebrick" (click)="archiveRequest(profile.registration_id)">Archive</button>
        </div>
        <div class="col-sm-4">
          <button class="btn view-btn" style=" margin-top: 10px;" (click)="activateRequest(profile.registration_id)">Agree</button>
        </div>
      </div>
      </div>
       
       
      </div>
    </div>
    <hr>
    
    <div class="row mt-4 mb-4">
    <i class="fa fa-at " style="font-size: 50px; margin-left: 30px;margin-top: -15px"></i>
   <div style="margin-left: 20px; margin-top: -15px;"> 
     Email <br> <div style="color: grey">{{ profile.registeration_email }}</div> 
   </div>
    </div>
    <hr>
    <div class="row mt-4 mb-4">
        <i class="fa fa-map-marker" style="font-size: 50px; margin-left: 30px;margin-top: -15px"></i>
       <div style="margin-left: 20px; margin-top: -15px;"> 
         Address <br> <div style="color: grey">{{ profile.registration_address_desc }}</div> 
       </div>
        </div>
        <hr>
    <div class="row mt-4 mb-4">
        <i class="fa fa-phone " style="font-size: 50px; margin-left: 30px;margin-top: -15px"></i>
       <div style="margin-left: 20px; margin-top: -15px;"> 
         Phone Number <br>  <div style="color: grey">{{profile.registeration_phone_number}} </div> 
       </div>
        </div>
        <hr>
    <div class="row mt-4 mb-4">
        <i class="fa fa-cog " style="font-size: 50px; margin-left: 30px;margin-top: -15px"></i>
       <div style="margin-left: 20px; margin-top: -15px;"> 
        <div > Services </div>
         <br> 
         <div style="color: grey">
           <p class="display-4">Account hasn't been activated Yet!</p>
         <!-- Books <br>
         Pencils <br>
         Pens <br>
         Papers <br>
         colors -->
        </div>
       </div>
        </div>
  </div>

</div>

</div>