
<div class="container">
    <div style="margin-top: 130px;"></div>

    <div class="row mt-5 mb-3">
      <div class="col-sm-1"></div>
      <div class="col-sm-8">
        <nav class="" >
          <ul class="breadcrumb ">
              <li class="breadcrumb-item">
                  <a [routerLink]="['/school']">Dashboard</a>
              </li>
              <li class="breadcrumb-item">
                  <a [routerLink]="['/school','tenders','mine']">My Tenders</a>
              </li>
              <li class="breadcrumb-item active">
                  New
              </li>
          </ul>
        </nav>
      </div>
      
    </div>
 
      <!-- new tender form here -->
      <div class="col-sm-8 col-sm offset-2">
        <form class="mt-5" [formGroup]="newTenderForm" (ngSubmit)="newTender()">
          <div class="form-group">
            <label for="tenderName">Tender Name</label>
            <input type="text"
             class="form-control"
              id="tenderName"
                placeholder="Tender name"
                formControlName="tenderName"
               
                >
          </div>
          <span 
                *ngIf="!newTenderForm.get('tenderName').valid && newTenderForm.get('tenderName').touched"
                class="help-block" >Tender name Required!</span>


                <!-- Category dropdown here -->

                <div class="form-group">
                  <label for="category">Tender Category</label>
                  <select id="category" formControlName="category" class="form-control">
                    <option disabled="disabled" [selected]="true" [ngValue]="categoryName">Select a category..</option>
                    <option *ngFor="let category of categories  , let i = index" value="{{category.request_category_name}}">{{category.request_category_name}}</option>
                  </select>
                </div>
                <span 
                *ngIf="!newTenderForm.get('category').valid && newTenderForm.get('category').touched"
                class="help-block" >This feild is required!</span>
          
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea class="form-control"
                  id="description" 
                  rows="3" 
                  placeholder="Tender description"
                  formControlName="description"
                  ></textarea>
                </div>
         
                <span 
                *ngIf="!newTenderForm.get('description').valid && newTenderForm.get('description').touched"
                class="help-block" >This feild is required!</span>
  
                <br>
                
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="fromdate">From</label>
                      <input type="date"
                       class="form-control"
                        id="fromdate"
                          placeholder="Tender name"
                          formControlName="fromdate"
                         
                          >
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="startTime">Time from</label>
                      <input type="text" formControlName="startTime"  id="startTime"
          apt-time-picker class="form-control"
           placeholder="start time" #startTime 
           (click)="setStartTime()">
                    </div>
                  </div>
                </div>
         
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="todate">To</label>
                      <input type="date"
                       class="form-control"
                        id="todate"
                          placeholder="Tender name"
                          formControlName="todate"
                         
                          >
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="timeto">Time to</label>
                      <input type="text" id="timeto"
           formControlName="endTime" 
           class="form-control" 
           placeholder="end time" 
           apt-time-picker #endTime
            (click)="setEndTime()" >
                    </div>
                  </div>
                </div>
            

               


              
                <button class="btn btn-danger ml-2 pull-right" [routerLink]="['/school']">Cancel</button>
            <button class="btn btn-success ml-2 pull-right" type="submit" [disabled]="!newTenderForm.valid">Create</button>
            
            
          
        </form>
      </div>
</div>


<button type="button" [hidden]="true" class="btn btn-primary" id="openModalButton" data-toggle="modal" data-target="#exampleModal">
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Creation Failed</h5>
        <button type="button" class="close ps-Close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Invalid Date! 
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>


<!-- <h3>Google maps here</h3>
<agm-map [latitude]="lat" [longitude]="lng">
<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map> -->