<app-home-header></app-home-header>
<section class="intro" style="background-image:url(assets/img/index/footer.png)">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-12 m-auto unify">
          <h3 class="font-weight-bold">Unifying Platform</h3>
          <p class="description m-auto text-center">Here are highlights of stationery needs of schools during the year will occur continously</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- start with unifying page body -->
<section class="mt-4">

  <div class="row ">
    <div class="container justify-content-between">
      <div class="text-center unifying">

        <h2 class="d-inline-block" style="color:#000;">
          <span style="color:#12a5e1;">Unifying</span> Services</h2>

      </div>
      <div class="row">
        
      </div>
    </div>
  </div>


  




  <app-footer></app-footer>