/* Start Office Tools */
.internal-page h2{
    color: #12a5e1;
    font-size: 41px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 15px;
    margin-bottom: 40px;
    padding: 30px 0;
    border-bottom: 1px solid #d8e8df;
}

.internal-page h2 span {
    color: #0fc35b;
}

.internal-page .purchasing-heading {
    color: #000;
}

.internal-page .purchasing-heading span{
    color: #12a5e1;
}

.internal-page .item {
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.internal-page .item-overlay {
    padding: 0;
}

.internal-page .item-overlay .overlay{
    padding: 15px;
    background-color: rgba(37, 38, 41, 0.664);
    border-radius: 5px;
}

.internal-page h5 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 20px;
}

.internal-page p {
    color: #fff;
    font-size: 17px;
}
.internal-page img {
    max-width: 60px;
    max-height: 60px;
}

.internal-page .btn {
    background-color: #fff;
    color: #545c68;
    text-transform: capitalize;
    font-size: 20px;
}

.internal-page .btn i {
    margin-left: 15px;
    color: #12a5e1;
}

body.rtl .internal-page .btn i {
    margin-right: 15px;
    margin-left: 0;
}

.internal-page .meta{
    margin-bottom: 25px;
}

.internal-page .follow-btn {
    color: #0fc35b;
    height: 24px;
    text-align: center;
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
    vertical-align: middle;
    font-weight: 600;
    line-height: 10px;
    margin-top: 20%;
    

    &:hover{
        background-color: #0974b3;
        color: #fff;
    }
}

.internal-page .unfollow-btn {
    background-color: #17ce31;
    color: #fff;
    height: 24px;
    text-align: center;
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
    vertical-align: middle;
    font-weight: 600;
    line-height: 10px;
    margin-top: 20%;
    &:hover{
        background-color: #f04b22;
        color: #fff;
    }
}

.internal-page .heading-overlay {
    margin-bottom: 5px;
}
.internal-page span.profile {
    color: #fff;
    font-size: 17px;
    margin-bottom: 20px;
}
.internal-page .requests {
    margin-bottom: 15px;
} 
.internal-page .requests span {
    color: #fff;
}
.internal-page .requests img {
    width: 35px;
    height: 35px;
    margin-left: -17px;
}
.internal-page .requests img:first-of-type {
    margin-left: 0;
} 

body.rtl .internal-page .requests img:first-of-type {
    margin-right: 0;
    margin-left: -17px
} 
.internal-page hr {
    margin: 0 -15px;
    border-top: 1px solid #999;
}
.internal-page .values  {
    margin-top: 11px;
    
    
}
.internal-page {
    .company-name{
        margin-top: 10px;
        // margin-left: 5px;
        &:hover{
            text-decoration: none;
            color: #0fc35b;
        }

    }
    a{
        &:hover{
            text-decoration: none;
            
        }
    }
}
.internal-page .values p {
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.internal-page .go{
    cursor: pointer;
    span {
        color: #0fc35b;
        font-size: 16px;
        font-weight: 200;
    }
    i {
        color: #ced4da;
        font-size: 20px;
        font-weight: 100;
        margin-left: 10px;
    }

    &:hover{
        span {
           text-decoration: underline;
        }
        i {
            color:#00A4DC;
            
        }
    }
}



body.rtl .internal-page .go i {
    margin-right: 11px;
    margin-left: 0;
}
.page-order {
    background-color: #f3f6f6;
}
.internal-page .item-orders{
    background-color: #fff;
    box-shadow: 1px 1px 8px #ddd;
}
.internal-page .item-orders .meta{
    margin-bottom: 15px;
}

.internal-page .item-orders hr{
    border-color: #d4e2e2;
}
.internal-page .item-orders p{
    color: #434949;
}

.internal-page .close-btn,
.internal-page .open-btn {
    color: #fff;
    font-size: 16px;
}
.internal-page .close-btn {
    background-color: #c4121f;
}

.internal-page .open-btn {
    background-color: #12c45d;
}

.internal-page .order-view i {
    color: #12a5e1;
}

.internal-page .order-view span {
    color: #434949;
}
.internal-page .order-meta {
    color: #000;
    font-weight: bold;
    margin-top: 10px;
}
.internal-page .order-meta p{
    font-size: 16px;
    margin-bottom: 0;
}
.internal-page .order-meta img{
    width: 35px;
    height: 35px;
    margin-right: 20px;
}

body.rtl .internal-page .order-meta img{
    margin-left: 20px;
    margin-right: 0;
}
.internal-page .order-meta .days{
    color: #12a5e1;
    white-space: pre-wrap;
}

.filter-section .inputs-container {
    background-color: #fff;
    margin: 60px 0;
    box-shadow: 1px 1px 8px #ddd;
    padding: 20px 30px;
}

.filter-section .btn-container {
    background-color: #12a5e1;
    margin: 60px 0;
    box-shadow: 1px 1px 8px #ddd;
    padding: 20px 30px;
}

.filter-section i.fa-search {
    color: #12a5e1;
    transform: rotate(80deg);
}

.filter-section input{
    border-right: 0;
}

body.rtl .filter-section input {
    border-right: 1px solid #ced4da;
    border-left: 0;
}

body.rtl .input-group>.form-control:not(:last-child) {
    border-radius: .25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

body.rtl .input-group>.input-group-append>.input-group-text {
    border-radius: .25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.filter-section input:focus,
.filter-section .custom-select:focus
{
    box-shadow: none;
    border-color: #ced4da;
}

.filter-section .input-group-text {
    background-color: #fff;
}

.filter-section .custom-select {
    height: auto;
}

.filter-section img {
    height: 18px;
    width: 18px;
}

.filter-section .btn {
    background-color: #12a5e1;
    color: white;
}

@media (max-width: 767px) {
    .filter-section {
    flex-direction: column;
    }

    .filter-section .inputs-container {
        margin-bottom: 10px;
        margin-top: 30px;
    }

    .filter-section  .input-group {
        padding: 0;
    margin-bottom: 15px;
    }

    .filter-section .btn-container {
        margin-top: 0;
    margin-bottom: 30px;
    }
}
.margintop{
    margin-top: 85%;
}
.margintop h5{
    font-size: 22px;
    font-weight: 600;
}

.mergerow{
    display: block;
    width: 100%;
}
// .offer-intro  {
//     margin-top: 160px;
//     .h3{
//         text-align: left !important;
//         border: 1px solid red !important;
//         font-family: Arial, Helvetica, sans-serif !important;
//     }
//     .description{
//         font-size: 18px !important;
//     }
// }


.intro {
    position: relative;
    h3 {
        
        text-align: left;
        font-family: Arial, Helvetica, sans-serif ;
    }
    
}


.go-back{
    position: absolute;
    top:68%;
    left:-7%;
    font-family: Arial, Helvetica, sans-serif ;
    color:snow;
    text-align: right;
    font-weight: 200;
    cursor: pointer;
    i{
        color: snow;
    }
    span{
        padding-left: 5px;
    }
    &:hover{
       text-decoration: underline;
    }
}

.intro {
	background-position: top;
}
.intro .description {
	font-size: 18px ;
	max-width: 70%;
    padding-bottom: 70px;
}
.intro .overlay {
	
	height: 100%;
}

@media (max-width: 992px) { 
	.intro h3 {
		text-align: left;
	}
	.intro .description {
		font-size: 14px;
		max-width: 80%;
		margin-bottom: 40px;
	}
}



.back{
    margin-left: -15%;
    
    font-weight: unset;
    color:#0fc35b;
}
.back a{
    color: #0fc35b;
    text-decoration: underline;
}



.company-logo{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    //border: 1px solid red;
    background-color: #ced4da;
    float: left;
    img{
        height: 100%;
        width: 100%;
        display:block;
        margin:auto;
    }
}
.follow-button-position{
    float:right;
}
.snow{
    color:snow;
}
@mixin small {
    @media (max-width: 767px) {
      @content;
    }
  }
  
  @mixin tablet {
    @media (min-width: 768px) {
      @content;
    }
  }
  
  @mixin desktop {
    @media (min-width: 1100px) {
      @content;
    }
  }
.search-bar{
    position: relative;
    margin: 20px 0 20px 0;
    @include desktop {
        
        //border:1px solid rgb(189, 188, 188);
        box-shadow: 0px 0px 5px 0px rgba(235,235,235,1);
    }
    .search-box{
        border-right: 0;
        outline: 0;
    }
    .search-glass{
        background-color: transparent;
    }
    form{
        @include desktop {
        padding: 8px;
        height: 100px;
        }
        
    }

    
}
.internal-page[_ngcontent-c1] .btn[_ngcontent-c1].filter-button{
    border-radius: 1px;
    background-color: #3492dd;
    color:white;
    i{
        color:white;
    }
    &:hover &:focus{
        background-image: none;
        background-color: #1DA4DD;
        border-color: #1DA4DD;

    }
    @include desktop {
        //transform: scale(1.08) ;
        height: 100px;
        transform: translateY(-8px) translateX(3px);
    }
    @include tablet {
        //transform: scale(1.08) ;
        height: 100px;
        transform: translateY(-8px) translateX(3px);
    }
}

.preloader{
    position: fixed;
    background-color: white;
    width:100%;
    height: 100%;
    display: block;
    z-index:999999;
    img{
        position: relative;
        display: block;
        margin: auto;
        top:50%;
        transform: translateY(-50%);

    }
}