
<div class="container">
  <div style="margin-top: 130px;"></div>

  <div class="row mt-5 mb-3">
    <div class="col-sm-1"></div>
    <div class="col-sm-8">
      <nav class="" >
        <ul class="breadcrumb ">
            <li class="breadcrumb-item">
                <a [routerLink]="['/admin']">Admin</a>
            </li>
           
            <li class="breadcrumb-item active">
                Orders
            </li>
        </ul>
      </nav>
    </div>  
    <div class="col-sm-1 txt-color">
      
    </div>
    <div class="col-sm-2 txt-color mt-4">
      {{count}} Orders
      </div>
  </div>
  <div class="row mx-auto">
    <div class="col-xs-6 mr-2 ml-2 mt-2 mb-2 skillhover" style="cursor: pointer;" *ngFor="let order of orders">
      <a (click)="linkNav(order.offer_id)">
      <div class="card ">
        <div class="card-title mx-4 mt-2">
          Order Number <button class="btn btn-blue ml-2" disabled>#{{order.offer_id}}</button>
          <div class="pull-right">
            <img src="{{ order.company_logo_image }}" alt="" width="50" height="50" class="mr-2 rounded-circle">
            <img src="{{ order.school_logo_image }}" alt="" width="50" height="50" class="rounded-circle">
          </div>
        </div>
        <hr>
          <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
           <span class="card-h"> Cost</span> <br>  <i class="fa fa-archive mr-1"></i> <span class="card-content text-center">{{order.offer_cost}} <i class="fa fa-usd "></i></span>  
          </div>
          <div class="col-sm-4">
              <span class="card-h"> Products</span> <br> <i class="fa fa-shopping-cart mr-1"></i> <span class="card-content text-center">{{ order.request_offer_count }}</span>  
          </div>
          <div class="col-sm-4">
              <span class="card-h">Date </span> <br> <i class="fa fa-calendar mr-1"></i> <span class="card-content text-center">{{ order.offer_display_date | date  }}</span>   
          </div>
        </div>
      </div>
      </div>
    </a>
    </div>

         
                   
  </div>
  </div>