<app-admin-header></app-admin-header>
<app-admin-sidebar></app-admin-sidebar>
<div class="container">
  <div style="margin-top: 130px;"></div>

  <div class="row mt-5 mb-3">
    <div class="col-sm-1"></div>
    <div class="col-sm-8">
      <nav class="" >
        <ul class="breadcrumb ">
            <li class="breadcrumb-item">
                <a [routerLink]="['/admin']">Admin</a>
            </li>
           
            <li class="breadcrumb-item active">
                Requests
            </li>
        </ul>
      </nav>
    </div>  
    <div class="col-sm-1 txt-color">
      
    </div>
    <div class="col-sm-2 txt-color mt-4">
      {{count}} Considerd
      </div>
  </div>
  

<div class="row">
  <div class="col-sm-6 text-center" style="color: #12a5e1; font-size: 22px">School Requests</div>
  <div class="col-sm-6 text-center" style="color: #12a5e1; font-size: 22px">Company Requests</div>
</div>

<div class="row">
  <div class="col-sm-6">
<div class="card" style="border: none">
    <div class="card-body">
<div class="row mx-auto confirmDiv skillhover"  *ngFor="let request of schoolRequests; let  i = index" style="margin-right: 20px; margin-top: 10px;">
  
  
      <a (click)="goToRequests(request.registrationId)">
    <div class="card">
      
      <div class="card-body">
      {{ request.registrationOrganizationName }}  <br> {{request.registerationDate | date:'short'}}
      <!-- <div style="margin-top: -35px">
       
        <a  class="btn view-btn pull-right" style="color: white" (click)="activateRequest(request.registration_id, i)">Agree</a>
      </div> -->
      </div>
    </div>
  </a>
 

  


 

 


</div>
</div>
</div>
</div>

<div class="col-sm-6">
    <div class="card" style="border: none">
        <div class="card-body">
    <div class="row mx-auto confirmDiv skillhover"  *ngFor="let request of companyRequests; let  i = index" style="margin-left: 20px; margin-top: 10px;">
      
      
          <a (click)="goToRequests(request.registrationId)">
        <div class="card">
          
          <div class="card-body">
          {{ request.registrationOrganizationName }}  <br> {{request.registerationDate | date:'short'}}
          <!-- <div style="margin-top: -35px">
           
            <a  class="btn view-btn pull-right" style="color: white" (click)="activateRequest(request.registration_id, i)">Agree</a>
          </div> -->
          </div>
        </div>
      </a>
     
    
      
    
    
     
    
     
    
    
    </div>
    </div>
    </div>
    </div>


</div>
</div>