<app-home-header></app-home-header>
<div *ngIf="!company" class="preloader">
    <img src="../../../../../assets/images/_ws.gif" alt="">
</div>
<section class="intro" *ngIf="company" [ngStyle]="{ 'background-image': 'url(data:image/png;base64,' + company['company_cover_image'] + ')'}">
  <div class="overlay" >
    <div class="container">
      <div class="row">
          
        <div class="col-md-12 col-12">
            <div routerLink="/offer-platform" class="go-back">
              <i class="fa fa-chevron-left"></i>
              <span>Back</span>
            </div>
          <div class="flexf clearfix">
            <div class="Fssimg">
              <img  src="data:image/png;base64,{{company['company_logo_image']}}">
              
            </div>
            <h3 class="font-weight-bold">
              {{company['company_name']}} 
            </h3>
            <span class="panda">
              <h5>
                {{company['company_website_url']}} 
              </h5>
            </span>
            <div class="map">
              <!-- <button *ngIf="!isUserFollowingThisCompany()" (click)="followCompany(company['company_id'])" class="btn btn-outline-info">Follow</button>
              <button *ngIf="flag" (click)="unfollowCompany(company['company_id'])" (click)="followCompany(company['company_id'])" class="btn btn-outline-danger">Unfollow</button> -->
            </div>
          </div>
          
          <div class="fssdesc">
            <p class="spacer"></p>
            <table>
              <tr>
                <td></td>
                <td>
                  Offers
                </td>
                <td>
                  Followers
                </td>
              </tr>
              <tr>
                <td></td>
                <td align="center">
                  {{offersCount}}
                </td>
                <td align="center">
                  {{followCount}}
                </td>
              </tr>
            </table>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="news">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6 col-8 m-auto d-flex align-items-stretch" *ngFor="let offer of offers" routerLink="../../offer-details/{{company['company_id']}}/{{offer['offer_id']}}">
        
          <!--  -->
        <div class="card" style="background-image:url(assets/img/index/01.png)" >
          <div class="overlay">
            <div class="date-container d-inline-flex">
              <div class="img d-inline-flex flex-column">
                <img src="data:image/png;base64,{{company['company_logo_image']}}">
                <!-- [ngStyle]="{ 'background-image': 'url(data:image/png;base64,' + offer.image_one + ')'}" -->
              </div>
              <table class="pandatable">
                <tr>
                  <td>
                    <h5 class="font-weight-bold">{{company['company_name']}}</h5>
                    <span>{{company['company_website_url']}}</span>
                  </td>
                </tr>
              </table>
            </div>
            <div class="pandadesc">
                <!-- {{offer.offer_explaination}} -->
              <p>{{offer.offer_explaination}}</p>
            </div>
            <div class="pandaimg">
              <img src="data:image/png;base64,{{ offer.image_one}}">
            </div>
            <div class="pandareq">
              <table class="table">
                <tr>
                  <th>
                    30
                  </th>
                  <th>
                    16
                  </th>
                  <th>
                    50
                  </th>
                  <th>
                    30
                  </th>
                </tr>
                <tr>
                  <td>
                    Days
                  </td>
                  <td>
                    Hours
                  </td>
                  <td>
                    Minutes
                  </td>
                  <td>
                    seconds
                  </td>
                </tr>
              </table>
            </div>
            <div class="hr">
            </div>
            <div class="pandaicon">
              <table class="table">
                <tr>
                  <th>
                    <i class="fa fa-edit"></i>
                  </th>
                  <th>
                    <i class="fa fa-map-marker"></i>
                  </th>
                  <th>
                    <i class="fa fa-star"></i>
                  </th>
                </tr>
                <tr>
                  <td>
                    Contact
                  </td>
                  <td>
                    Map
                  </td>
                  <td>
                    Reviews
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>