<app-home-header></app-home-header>
<section class="intro" style="background-image:url(assets/img/index/footer.png)">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-12 m-auto unify">
          <h3 class="font-weight-bold">Offer Platform</h3>
          <p class="description m-auto text-center">Here are highlights of stationery needs of schools during the year will occur continously</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- start with unifying page body -->
<section class="mt-4">

  <div class="row ">
    <div class="container justify-content-between">
      <div class="text-center unifying">

        <h2 class="d-inline-block" style="color:#000;">
          <span style="color:#12a5e1;">Insurance</span> companies</h2>

      </div>

    </div>
  </div>


  <div class="row">
    <div class="container unifybody">

      <!-- Company-body for each row -->
      <div class=" company-body">

        <div class="col-md-4 col-lg-3 col-sm-12 companies">
          <div class="card card-inverse">
            <img class="card-img" src="https://images.unsplash.com/photo-1503413307625-ab7f96a71038?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a9c24285a1c47b5886a39e23043df607&auto=format&fit=crop&w=500&q=60"
              alt="Card image">
            <div class="card-img-overlay">
              <div class="company-img">
                <img src="assets/img/comp.png" />

              </div>
              <h5 class="card-title">AlAalamya Group</h5>
              <p class="card-text">
                <i class="fa fa-map-marker"></i>
                <small> KSA-Alryad-1405 Street king sulim</small>
              </p>
              <p class="card-text">helps editors access reliable sources to improve wilipedia.</p>
              <p class="card-text center">
                <button class="btn btn-success">view Offer</button>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 col-sm-12 companies">
          <div class="card card-inverse">
            <img class="card-img" src="http://selvaraj.me/codepen/images/hover-1.jpg" alt="Card image">
            <div class="card-img-overlay">
              <div class="company-img">
                <img src="assets/img/comp.png" />

              </div>
              <h5 class="card-title">AlAalamya Group</h5>
              <p class="card-text">
                <i class="fa fa-map-marker"></i>
                <small> KSA-Alryad-1405 Street king sulim</small>
              </p>
              <p class="card-text">helps editors access reliable sources to improve wilipedia.</p>
              <p class="card-text center">
                <button class="btn btn-success">view Offer</button>
              </p>
            </div>
          </div>
        </div>





        <div class="col-md-4 col-lg-3 col-sm-12 companies">
          <div class="card card-inverse">
            <img class="card-img" src="https://images.unsplash.com/photo-1503413307625-ab7f96a71038?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a9c24285a1c47b5886a39e23043df607&auto=format&fit=crop&w=500&q=60"
              alt="Card image">
            <div class="card-img-overlay">
              <div class="company-img">
                <img src="assets/img/comp.png" />

              </div>
              <h5 class="card-title">AlAalamya Group</h5>
              <p class="card-text">
                <i class="fa fa-map-marker"></i>
                <small> KSA-Alryad-1405 Street king sulim</small>
              </p>
              <p class="card-text">helps editors access reliable sources to improve wilipedia.</p>
              <p class="card-text center">
                <button class="btn btn-success">view Offer</button>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 col-sm-12 companies">
          <div class="card card-inverse">
            <img class="card-img" src="http://selvaraj.me/codepen/images/hover-1.jpg" alt="Card image">
            <div class="card-img-overlay">
              <div class="company-img">
                <img src="assets/img/comp.png" />

              </div>
              <h5 class="card-title">AlAalamya Group</h5>
              <p class="card-text">
                <i class="fa fa-map-marker"></i>
                <small> KSA-Alryad-1405 Street king sulim</small>
              </p>
              <p class="card-text">helps editors access reliable sources to improve wilipedia.</p>
              <p class="card-text center">
                <button class="btn btn-success">view Offer</button>
              </p>
            </div>
          </div>
        </div>


      </div>

    </div>

  </div>

  <div class="row">
    <div class="container">

      <!-- Company-body for each row -->
      <div class=" company-body">

        <div class="col-md-4 col-lg-3 col-sm-12 companies">
          <div class="card card-inverse">
            <img class="card-img" src="https://images.unsplash.com/photo-1503413307625-ab7f96a71038?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a9c24285a1c47b5886a39e23043df607&auto=format&fit=crop&w=500&q=60"
              alt="Card image">
            <div class="card-img-overlay">
              <div class="company-img">
                <img src="assets/img/comp.png" />

              </div>
              <h5 class="card-title">AlAalamya Group</h5>
              <p class="card-text">
                <i class="fa fa-map-marker"></i>
                <small> KSA-Alryad-1405 Street king sulim</small>
              </p>
              <p class="card-text">helps editors access reliable sources to improve wilipedia.</p>
              <p class="card-text center">
                <button class="btn btn-success">view Offer</button>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 col-sm-12 companies">
          <div class="card card-inverse">
            <img class="card-img" src="http://selvaraj.me/codepen/images/hover-1.jpg" alt="Card image">
            <div class="card-img-overlay">
              <div class="company-img">
                <img src="assets/img/comp.png" />

              </div>
              <h5 class="card-title">AlAalamya Group</h5>
              <p class="card-text">
                <i class="fa fa-map-marker"></i>
                <small> KSA-Alryad-1405 Street king sulim</small>
              </p>
              <p class="card-text">helps editors access reliable sources to improve wilipedia.</p>
              <p class="card-text center">
                <button class="btn btn-success">view Offer</button>
              </p>
            </div>
          </div>
        </div>





        <div class="col-md-4 col-lg-3 col-sm-12 companies">
          <div class="card card-inverse">
            <img class="card-img" src="https://images.unsplash.com/photo-1503413307625-ab7f96a71038?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a9c24285a1c47b5886a39e23043df607&auto=format&fit=crop&w=500&q=60"
              alt="Card image">
            <div class="card-img-overlay">
              <div class="company-img">
                <img src="assets/img/comp.png" />

              </div>
              <h5 class="card-title">AlAalamya Group</h5>
              <p class="card-text">
                <i class="fa fa-map-marker"></i>
                <small> KSA-Alryad-1405 Street king sulim</small>
              </p>
              <p class="card-text">helps editors access reliable sources to improve wilipedia.</p>
              <p class="card-text center">
                <button class="btn btn-success">view Offer</button>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 col-sm-12 companies">
          <div class="card card-inverse">
            <img class="card-img" src="http://selvaraj.me/codepen/images/hover-1.jpg" alt="Card image">
            <div class="card-img-overlay">
              <div class="company-img">
                <img src="assets/img/comp.png" />

              </div>
              <h5 class="card-title">AlAalamya Group</h5>
              <p class="card-text">
                <i class="fa fa-map-marker"></i>
                <small> KSA-Alryad-1405 Street king sulim</small>
              </p>
              <p class="card-text">helps editors access reliable sources to improve wilipedia.</p>
              <p class="card-text center">
                <button class="btn btn-success">view Offer</button>
              </p>
            </div>
          </div>
        </div>


      </div>

    </div>

  </div>

</section>
<!-- End Connection with apps -->

<!-- <section class="footer"></section> -->
<app-footer></app-footer>