<nav class="">
  <ul class="breadcrumb ">
    <li class="breadcrumb-item">
      <a [routerLink]="['/admin']">Dashboard</a>
    </li>

    <li class="breadcrumb-item">
      <a [routerLink]="['/admin']">Tenders</a>
    </li>
    <li class="breadcrumb-item active">
      New
    </li>
  </ul>
</nav>
 
      <!-- new tender form here -->
      <div class="col-sm-8 col-sm offset-2">
        <form class="mt-5" [formGroup]="newTenderForm" (ngSubmit)="newTender()">
          <div class="form-group">
            <label for="tenderName">Tender Name</label>
            <input type="text"
             class="form-control"
              id="tenderName"
                placeholder="Tender name"
                formControlName="tenderName"
               
                >
          </div>
          <span 
                *ngIf="!newTenderForm.get('tenderName').valid && newTenderForm.get('tenderName').touched"
                class="help-block" >Tender name Required!</span>


                <!-- Category dropdown here -->

                <div class="form-group">
                  <label for="category">Tender Category</label>
                  <select id="category" formControlName="category" class="form-control">
                    <option disabled="disabled" [selected]="true" [ngValue]="categoryName">Select a category..</option>
                    <option *ngFor="let category of categories  , let i = index" value="{{category.request_category_name}}">{{category.request_category_name}}</option>
                  </select>
                </div>
                <span 
                *ngIf="!newTenderForm.get('category').valid && newTenderForm.get('category').touched"
                class="help-block" >This feild is required!</span>
          
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea class="form-control"
                  id="description" 
                  rows="3" 
                  placeholder="Tender description"
                  formControlName="description"
                  ></textarea>
                </div>
         
                <span 
                *ngIf="!newTenderForm.get('description').valid && newTenderForm.get('description').touched"
                class="help-block" >This feild is required!</span>
  
                <br>
                <label for="#" style="color: black; font-weight: bold">School TimeFrime</label>
                <hr>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="schoolfromdate">From</label>
                      <input type="date"
                       class="form-control"
                        id="schoolfromdate"
                          
                          formControlName="schoolfromdate"
                         
                          >
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="schoolstartTime">Time from</label>
                      <input type="text" formControlName="schoolstartTime"  id="schoolstartTime"
          apt-time-picker class="form-control"
           placeholder="start time" #schoolstartTime 
           (click)="setSchoolStartTime()">
                    </div>
                  </div>
                </div>
         
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="schooltodate">To</label>
                      <input type="date"
                       class="form-control"
                        id="schooltodate"
                          
                          formControlName="schooltodate"
                         
                          >
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="schooltimeto">Time to</label>
                      <input type="text" id="schooltimeto"
           formControlName="schoolendTime" 
           class="form-control" 
           placeholder="end time" 
           apt-time-picker #schoolendTime
            (click)="setSchoolEndTime()" >
                    </div>
                  </div>
                </div>
            
                <br>

               <label for="#" style="color: black; font-weight: bold">Company TimeFrime</label>
                <hr>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="companyfromdate">From</label>
                      <input type="date"
                       class="form-control"
                        id="companyfromdate"
                          
                          formControlName="companyfromdate"
                         
                          >
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="companystartTime">Time from</label>
                      <input type="text" formControlName="companystartTime"  id="companystartTime"
          apt-time-picker class="form-control"
           placeholder="start time" #companystartTime 
           (click)="setCompanyStartTime()">
                    </div>
                  </div>
                </div>
         
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="companytodate">To</label>
                      <input type="date"
                       class="form-control"
                        id="companytodate"
                          
                          formControlName="companytodate"
                         
                          >
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="companytimeto">Time to</label>
                      <input type="text" id="companytimeto"
           formControlName="companyendTime" 
           class="form-control" 
           placeholder="end time" 
           apt-time-picker #companyendTime
            (click)="setCompanyEndTime()" >
                    </div>
                  </div>
                </div>


              
                <button class="btn btn-danger ml-2 pull-right" [routerLink]="['/admin']">Cancel</button>
            <button class="btn btn-success ml-2 pull-right" type="submit">Create</button>
            
            
          
        </form>
      </div>
