<app-school-sidebar></app-school-sidebar>
<app-school-header></app-school-header>
<div class="container">
<div style="margin-top: 100px;">
  <ul class="breadcrumb ">
      <li class="breadcrumb-item">
          <a [routerLink]="['/school']">Dashboard</a>
      </li>
     
      <li class="breadcrumb-item active">
          My Tenders
      </li>
  </ul>
</div>

<!-- <div class="pull-right">
    <p style="color:blue ">({{ count +1 }}) Orders</p>
</div>
<br><br> -->

<div class="row mx-auto">
  <div class="col-xs-6 mr-2 ml-2 mt-2 mb-2"  *ngFor="let order of schoolOrders">
    <a >
    <div class="card card-f">
      <div class="card-title mx-4 mt-2">
        {{ order.request_title }}  <br> {{ order.request_display_date | date:'short' }}
        <div class="pull-right">
           <button class="btn view-btn" [routerLink]="['/school','tender',order.request_id,'view']">View</button>
        </div> 
      </div>
        <div class="card-body">
      <div class="row">
        <div class="col-sm-4">
         <span class="card-h">  <i class="fa fa-archive mr-1"></i>Category</span> <br>  <span class="card-content text-center">{{ order.request_category_name }}</span>  
        </div>
        <div class="col-sm-4">
            <span class="card-h">  <i class="fa fa-shopping-cart mr-1"></i> Requests</span> <br> <span class="card-content text-center">{{ order.response_count }}</span>  
        </div>
        <div class="col-sm-4">
            <span class="card-h"> <i class="fa fa-calendar mr-1"></i>  Day Left</span> <br> <span class="card-content text-center">{{ order.dayLeft }}</span>   
        </div>
      </div>
    </div>
    </div>
  </a>
  </div>
  
  

   

    
    
     
       
         
          
             
               
                 
</div>
</div>