
<div style="margin-top: 100px;">
  <ul class="breadcrumb ">
      <li class="breadcrumb-item">
          <a [routerLink]="['/school']">Dashboard</a>
      </li>
     
      <li class="breadcrumb-item active">
          My Tenders
      </li>
  </ul>
</div>

<!-- <div class="pull-right">
    <p style="color:blue ">({{ count +1 }}) Orders</p>
</div>
<br><br> -->

<div class="row mx-auto">
  <div class="col-xs-6 mr-2 ml-2 mt-2 mb-2" >
    <a >
    <div class="card ">
      <div class="card-title mx-4 mt-2">
        Taj tenders  <br> {{this.date | date}}
        <div class="pull-right">
           <button class="btn view-btn" [routerLink]="['/school/tender/view']">View</button>
        </div> 
      </div>
        <div class="card-body">
      <div class="row">
        <div class="col-sm-4">
         <span class="card-h"> Category</span> <br>  <i class="fa fa-archive mr-1"></i> <span class="card-content text-center">Book</span>  
        </div>
        <div class="col-sm-4">
            <span class="card-h"> 150</span> <br> <i class="fa fa-shopping-cart mr-1"></i> <span class="card-content text-center">Requests</span>  
        </div>
        <div class="col-sm-4">
            <span class="card-h">15</span> <br> <i class="fa fa-calendar mr-1"></i> <span class="card-content text-center">Day left</span>   
        </div>
      </div>
    </div>
    </div>
  </a>
  </div>
  
  <div class="col-xs-6 mr-2 ml-2 mt-2 mb-2" >
    <a >
    <div class="card ">
      <div class="card-title mx-4 mt-2">
        Taj tenders  <br> {{this.date | date}}
        <div class="pull-right">
           <button class="btn view-btn" [routerLink]="['/school/tender/view']">View</button>
        </div> 
      </div>
        <div class="card-body">
      <div class="row">
        <div class="col-sm-4">
         <span class="card-h"> Category</span> <br>  <i class="fa fa-archive mr-1"></i> <span class="card-content text-center">Book</span>  
        </div>
        <div class="col-sm-4">
            <span class="card-h"> 150</span> <br> <i class="fa fa-shopping-cart mr-1"></i> <span class="card-content text-center">Requests</span>  
        </div>
        <div class="col-sm-4">
            <span class="card-h">15</span> <br> <i class="fa fa-calendar mr-1"></i> <span class="card-content text-center">Day left</span>   
        </div>
      </div>
    </div>
    </div>
  </a>
  </div>

   

    
    
     
       
         
          
             
               
                 
</div>