<app-home-header></app-home-header>
<div *ngIf="!categoryDetails" class="preloader">
  <img src="../../../../../assets/images/_ws.gif" alt="">
</div>
<section class="intro clearfix " style="background-image:url(assets/img/Heading.png)">
  <div class="overlay" *ngIf="categoryDetails">

    <div class="container">
      <div class="row">

        <div class="col col-12">
          <!-- <div class="col-md- ">
              
                 
            </div> -->

          <div routerLink="/purchase-platform" class="go-back">
            <i class="fa fa-chevron-left"></i>
            <span>Back</span>
          </div>


          <h3 class=" offers">Purchase Platform : {{categoryDetails.request_category_name}}</h3>
          <p class="description  ">
            You Can search requests from schools and Filter it accourding to days left or open / close status.
          </p>



        </div>


      </div>
    </div>
  </div>
</section>
<section class="internal-page">

  <div class="container">
    <div class="search-bar" >
      <form #filterForm="ngForm">
        <div class="form-row">
          <div class="form-group col-md-9">
            <!-- <input type="text" class="form-control" id="inputCity"> -->
            <div class="input-group mb-3">
              <input type="text" class="form-control search-box" placeholder="search" [(ngModel)]="searchTitle" [ngModelOptions]="{standalone: true}">
              <div class="input-group-append">
                <span class="input-group-text search-glass" id="inputGroup-sizing-default">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </span>
              </div>

            </div>
          </div>
          <div class="form-group col-md-2">
            <select id="inputState" class="form-control" name="filterSort" [(ngModel)]="formFilterChoice"   >
              <option value="descending" >More days left</option>
              <option value="ascending" >Less days left</option>

              <option value="open" >Open Only</option>
            </select>
          </div>
          <div class="form-group col-md-1">
            <button class="btn btn-primary filter-button" (click)="filterChoice()" >
              <i class="fa fa-sliders snow" aria-hidden="true"></i> Filter</button>
          </div>
        </div>
      </form>
    </div>
    <div class="row" *ngIf="requestsView">
      <div class="col-lg-4 col-md-6 col-12" *ngFor="let request of requestsView | categoryFilter:searchTitle">
        <div class="item item-overlay" routerLink="/request-details/{{request.request_id}}">


          <div class="overlay">
            <div class="status">
              <button *ngIf="request.open" class="btn btn-success" disabled>open</button>
              <button *ngIf="!request.open" class="btn btn-danger" disabled>closed</button>
              <span>
                <i class="fa fa-eye" aria-hidden="true"></i>&nbsp; {{request.view_count}}</span>
              <div class="clearfix"></div>
            </div>

            <a>
              <h5 class="heading-overlay request-name">{{request['request_title']}}</h5>
            </a>

            <p>{{request.request_explaination.substring(0,30)}} .....</p>

            <div class="bottom-placing">
              <hr>
              <div class="values d-flex justify-content-between align-items-center">

                <div>
                  <div class="school-logo" [ngStyle]="{ 'background-image': 'url(data:image/png;base64,' + request.school_logo_image + ')'}"></div>
                </div>
                <div class="school-name">
                  <span>{{request.school_name}}</span>
                </div>
                <div *ngIf="request.daysLeft>1" class="days d-flex align-items-center">
                  <span>{{request.daysLeft}}&nbsp;</span>Days
                </div>
                <div *ngIf="request.daysLeft<=0" class="days done d-flex align-items-center">
                  <span>0&nbsp;</span>Days
                </div>
                <div *ngIf="request.daysLeft==1" class="days d-flex align-items-center">
                  <span>1&nbsp;</span>Day
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>

<app-footer></app-footer>