.internal-page{
    background-color: rgb(252, 249, 249);
    transform: translateY(-20px);
    padding-top: 20px;
}
.internal-page .item {
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.internal-page .item-overlay {
    padding: 0;
    height: 95%;
    &:hover{
        transform: scale(1.05);
    }
}

.internal-page .item-overlay .overlay{
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    position: relative;
    min-height: 100%;
    box-shadow: 0px 0px 5px 0px rgba(235,235,235,1);
    cursor: pointer;
    p{
        margin-bottom: 20%;
    }
    .bottom-placing{
        position: absolute;
        width: 88%;
        bottom: 5px;
    }
}

.internal-page h5 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}

.internal-page p {
    color: rgb(90, 87, 87);
    font-size: 17px;
    text-align: center;
}
.internal-page img {
    max-width: 60px;
    max-height: 60px;
}



body.rtl .internal-page .btn i {
    margin-right: 15px;
    margin-left: 0;
}

.internal-page .meta{
    margin-bottom: 25px;
}




.internal-page .heading-overlay {
    //margin-bottom: 35%;
    color: rgb(90, 87, 87);
}

.internal-page .requests img {
    width: 35px;
    height: 35px;
    margin-left: -17px;
}
.internal-page .requests img:first-of-type {
    margin-left: 0;
} 

body.rtl .internal-page .requests img:first-of-type {
    margin-right: 0;
    margin-left: -17px
} 
.internal-page hr {
    margin: 0 -15px;
    border-top: 1px solid #999;
}
.internal-page {
    .request-name{
        margin-top: 10px;
        
        &:hover{
            text-decoration: none;
            color: #0fc35b;
        }

    }
    a{
        &:hover{
            text-decoration: none;
            
        }
    }
    .status{
        //border:1px solid red;
        
        button{
            float: left;
            cursor: help;
        }
        span{
            float: right;
        }
    }
}
.internal-page .values{
    margin-top: 11px;
    width: 100%;
    p {
        margin-bottom: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 15px;
    }

}


.internal-page .days{
    cursor: pointer;
    color: rgb(90, 87, 87);
    span {
        color: #0fc35b;
        font-size: 16px;
        font-weight: 200;
    }
    i {
        color: #ced4da;
        font-size: 20px;
        font-weight: 100;
        margin-left: 10px;
    }
    &.done{
        span{
            color: #f56a51;
        }
        
    }

    &:hover{
        span {
           text-decoration: underline;
        }
        i {
            color:#00A4DC;
            
        }
    }
}



body.rtl .internal-page .go i {
    margin-right: 11px;
    margin-left: 0;
}
.page-order {
    background-color: #f3f6f6;
}
.internal-page .item-orders{
    background-color: #fff;
    box-shadow: 1px 1px 8px #ddd;
}
.internal-page .item-orders .meta{
    margin-bottom: 15px;
}

.internal-page .item-orders hr{
    border-color: #d4e2e2;
}
.internal-page .item-orders p{
    color: #434949;
}

.internal-page .close-btn,
.internal-page .open-btn {
    color: #fff;
    font-size: 16px;
}
.internal-page .close-btn {
    background-color: #c4121f;
}

.internal-page .open-btn {
    background-color: #12c45d;
}

.internal-page .order-view i {
    color: #12a5e1;
}

.internal-page .order-view span {
    color: #434949;
}
.internal-page .order-meta {
    color: #000;
    font-weight: bold;
    margin-top: 10px;
}
.internal-page .order-meta p{
    font-size: 16px;
    margin-bottom: 0;
}
.internal-page .order-meta img{
    width: 35px;
    height: 35px;
    margin-right: 20px;
}

body.rtl .internal-page .order-meta img{
    margin-left: 20px;
    margin-right: 0;
}
.internal-page .order-meta .days{
    color: #12a5e1;
    white-space: pre-wrap;
}

.filter-section .inputs-container {
    background-color: #fff;
    margin: 60px 0;
    box-shadow: 1px 1px 8px #ddd;
    padding: 20px 30px;
}

.filter-section .btn-container {
    background-color: #12a5e1;
    margin: 60px 0;
    box-shadow: 1px 1px 8px #ddd;
    padding: 20px 30px;
}

.filter-section i.fa-search {
    color: #12a5e1;
    transform: rotate(80deg);
}

.filter-section input{
    border-right: 0;
}

body.rtl .filter-section input {
    border-right: 1px solid #ced4da;
    border-left: 0;
}

body.rtl .input-group>.form-control:not(:last-child) {
    border-radius: .25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

body.rtl .input-group>.input-group-append>.input-group-text {
    border-radius: .25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.filter-section input:focus,
.filter-section .custom-select:focus
{
    box-shadow: none;
    border-color: #ced4da;
}

.filter-section .input-group-text {
    background-color: #fff;
}

.filter-section .custom-select {
    height: auto;
}

.filter-section img {
    height: 18px;
    width: 18px;
}

.filter-section .btn {
    background-color: #12a5e1;
    color: white;
}

@media (max-width: 767px) {
    .filter-section {
    flex-direction: column;
    }

    .filter-section .inputs-container {
        margin-bottom: 10px;
        margin-top: 30px;
    }

    .filter-section  .input-group {
        padding: 0;
    margin-bottom: 15px;
    }

    .filter-section .btn-container {
        margin-top: 0;
    margin-bottom: 30px;
    }
}
.margintop{
    margin-top: 85%;
}
.margintop h5{
    font-size: 22px;
    font-weight: 600;
}

.mergerow{
    display: block;
    width: 100%;
}
// .offer-intro  {
//     margin-top: 160px;
//     .h3{
//         text-align: left !important;
//         border: 1px solid red !important;
//         font-family: Arial, Helvetica, sans-serif !important;
//     }
//     .description{
//         font-size: 18px !important;
//     }
// }


.intro {
    position: relative;
    h3 {
        
        text-align: left;
        font-family: Arial, Helvetica, sans-serif ;
    }
    
}


.go-back{
    position: absolute;
    top:68%;
    left:-7%;
    font-family: Arial, Helvetica, sans-serif ;
    color:snow;
    text-align: right;
    font-weight: 200;
    cursor: pointer;
    i{
        color: snow;
    }
    span{
        padding-left: 5px;
    }
    &:hover{
       text-decoration: underline;
    }
}

.intro {
	background-position: top;
}
.intro .description {
	font-size: 18px ;
	max-width: 70%;
    padding-bottom: 70px;
}
.intro .overlay {
	background: linear-gradient(-45deg, rgba(61, 117, 181, 0.78) 0%, rgba(65, 150, 241, 0.8) 53%, rgba(38, 77, 111, 0.8) 82%, rgba(38, 74, 103, 0.8) 100%);
	height: 100%;
}

@media (max-width: 992px) { 
	.intro h3 {
		text-align: left;
	}
	.intro .description {
		font-size: 14px;
		max-width: 80%;
		margin-bottom: 40px;
	}
}



.back{
    margin-left: -15%;
    
    font-weight: unset;
    color:#0fc35b;
}
.back a{
    color: #0fc35b;
    text-decoration: underline;
}




.follow-button-position{
    float:right;
}
// .container-xt{
//     width: 100%;
//     margin:0;
//     padding:0;
//     //border:1px solid red;
// }
.preloader{
    position: fixed;
    background-color: white;
    width:100%;
    height: 100%;
    display: block;
    z-index:999999;
    img{
        position: relative;
        display: block;
        margin: auto;
        top:50%;
        transform: translateY(-50%);

    }
}


.heading-pp{
    text-align: left;
    margin:26px 0 26px 0;
    h2{
        font-weight: 200;
        font-family: Arial, Helvetica, sans-serif;
        span{
            color: #00A4DC;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}
.lister{
    margin-bottom: 60px;
}
.followers{
    height:35px;
    span{
        font-size: 14px;
        color:rgb(255, 255, 255);
        background: rgba(5, 5, 5, 0.342);
        padding: 5px 0;
        margin-top:8px;
        display: block;
        margin: auto;
        text-align: center;
    }
    //border: 1px solid red;
}
.snow{
    color:snow;
}
@mixin small {
    @media (max-width: 767px) {
      @content;
    }
  }
  
  @mixin tablet {
    @media (min-width: 768px) {
      @content;
    }
  }
  
  @mixin desktop {
    @media (min-width: 1100px) {
      @content;
    }
  }
.search-bar{
    position: relative;
    margin: 20px 0 20px 0;
    @include desktop {
        
        //border:1px solid rgb(189, 188, 188);
        box-shadow: 0px 0px 5px 0px rgba(235,235,235,1);
    }
    .search-box{
        border-right: 0;
        outline: 0;
    }
    .search-glass{
        background-color: transparent;
    }
    form{
        @include desktop {
        padding: 8px;
        height: 55px;
        }
        
    }

    
}
.filter-button{
    border-radius: 1px;
    background-color: #3492dd;
    &:hover &:focus{
        background-image: none;
        background-color: #1DA4DD;
        border-color: #1DA4DD;

    }
    @include desktop {
        //transform: scale(1.08) ;
        height: 55px;
        transform: translateY(-8px) translateX(3px);
    }
}

.school-logo{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #00A4DC;
    background-size: 32px 32px;
}
.school-name{
    span{
        color: #434949;
    }
}