
<div class="" style="margin-top: 100px">
  <ul class="breadcrumb ">
      <li class="breadcrumb-item">
          <a [routerLink]="['/admin']">Admin</a>
      </li>
     
      <li class="breadcrumb-item active">
          Requests
      </li>
  </ul>
</div>

<div class="row mt-5 mb-4">
  <div class="col-sm-8"></div>
  <div class="col-sm-2 txt-color">
    
  </div>
  <div class="col-sm-2 txt-color">
    16 Requests 
    </div>
</div>

<div class="row mx-auto">
  <div class="col-xs-6 mr-2 ml-2 mt-2 mb-2">
    <div class="card ">
      
      <div class="card-body">
      Tag Company  <br> {{this.date | date:'short'}}
      <div style="margin-top: -35px">
        <a  class="btn btn-blue pull-right ml-2" 
        style="color: white"
         [routerLink]="['/admin','request','view']">Profile</a>
        <a  class="btn view-btn pull-right" style="color: white">Agree</a>
      </div>
      </div>
    </div>
  </div>

  <div class="col-xs-6 mr-2 ml-2 mt-2 mb-2">
    <div class="card ">
      
      <div class="card-body">
      Tag Company  <br> {{this.date | date:'short'}}
      <div style="margin-top: -35px">
        <a  class="btn btn-blue pull-right ml-2" style="color: white">Profile</a>
        <a  class="btn view-btn pull-right" style="color: white">Agree</a>
      </div>
      </div>
    </div>
  </div>

  <div class="col-xs-6 mr-2 ml-2 mt-2 mb-2">
    <div class="card ">
      
      <div class="card-body">
      Tag Company  <br> {{this.date | date:'short'}}
      <div style="margin-top: -35px">
        <a  class="btn btn-blue pull-right ml-2" style="color: white">Profile</a>
        <a  class="btn view-btn pull-right" style="color: white">Agree</a>
      </div>
      </div>
    </div>
  </div>

  <div class="col-xs-6 mr-2 ml-2 mt-2 mb-2">
    <div class="card ">
      
      <div class="card-body">
      Tag Company  <br> {{this.date | date:'short'}}
      <div style="margin-top: -35px">
        <a  class="btn btn-blue pull-right ml-2" style="color: white">Profile</a>
        <a  class="btn view-btn pull-right" style="color: white">Agree</a>
      </div>
      </div>
    </div>
  </div>

  <div class="col-xs-6 mr-2 ml-2 mt-2 mb-2">
    <div class="card ">
      
      <div class="card-body">
      Tag Company  <br> {{this.date | date:'short'}}
      <div style="margin-top: -35px">
        <a  class="btn btn-blue pull-right ml-2" style="color: white">Profile</a>
        <a  class="btn view-btn pull-right" style="color: white">Agree</a>
      </div>
      </div>
    </div>
  </div>

  <div class="col-xs-6 mr-2 ml-2 mt-2 mb-2">
    <div class="card ">
      
      <div class="card-body">
      Tag Company  <br> {{this.date | date:'short'}}
      <div style="margin-top: -35px">
        <a  class="btn btn-blue pull-right ml-2" style="color: white">Profile</a>
        <a  class="btn view-btn pull-right" style="color: white">Agree</a>
      </div>
      </div>
    </div>
  </div>

  <div class="col-xs-6 mr-2 ml-2 mt-2 mb-2">
    <div class="card ">
      
      <div class="card-body">
      Tag Company  <br> {{this.date | date:'short'}}
      <div style="margin-top: -35px">
        <a  class="btn btn-blue pull-right ml-2" style="color: white">Profile</a>
        <a  class="btn view-btn pull-right" style="color: white">Agree</a>
      </div>
      </div>
    </div>
  </div>

  <div class="col-xs-6 mr-2 ml-2 mt-2 mb-2">
    <div class="card ">
      
      <div class="card-body">
      Tag Company  <br> {{this.date | date:'short'}}
      <div style="margin-top: -35px">
        <a  class="btn btn-blue pull-right ml-2" style="color: white">Profile</a>
        <a  class="btn view-btn pull-right" style="color: white">Agree</a>
      </div>
      </div>
    </div>
  </div>

  <div class="col-xs-6 mr-2 ml-2 mt-2 mb-2">
    <div class="card ">
      
      <div class="card-body">
      Tag Company  <br> {{this.date | date:'short'}}
      <div style="margin-top: -35px">
        <a  class="btn btn-blue pull-right ml-2" style="color: white">Profile</a>
        <a  class="btn view-btn pull-right" style="color: white">Agree</a>
      </div>
      </div>
    </div>
  </div>

  <div class="col-xs-6 mr-2 ml-2 mt-2 mb-2">
    <div class="card ">
      
      <div class="card-body">
      Tag Company  <br> {{this.date | date:'short'}}
      <div style="margin-top: -35px">
        <a  class="btn btn-blue pull-right ml-2" style="color: white">Profile</a>
        <a  class="btn view-btn pull-right" style="color: white">Agree</a>
      </div>
      </div>
    </div>
  </div>

  <div class="col-xs-6 mr-2 ml-2 mt-2 mb-2">
    <div class="card ">
      
      <div class="card-body">
      Tag Company  <br> {{this.date | date:'short'}}
      <div style="margin-top: -35px">
        <a  class="btn btn-blue pull-right ml-2" style="color: white">Profile</a>
        <a  class="btn view-btn pull-right" style="color: white">Agree</a>
      </div>
      </div>
    </div>
  </div>

  <div class="col-xs-6 mr-2 ml-2 mt-2 mb-2">
    <div class="card ">
      
      <div class="card-body">
      Tag Company  <br> {{this.date | date:'short'}}
      <div style="margin-top: -35px">
        <a  class="btn btn-blue pull-right ml-2" style="color: white">Profile</a>
        <a  class="btn view-btn pull-right" style="color: white">Agree</a>
      </div>
      </div>
    </div>
  </div>

  <div class="col-xs-6 mr-2 ml-2 mt-2 mb-2">
    <div class="card ">
      
      <div class="card-body">
      Tag Company  <br> {{this.date | date:'short'}}
      <div style="margin-top: -35px">
        <a  class="btn btn-blue pull-right ml-2" style="color: white">Profile</a>
        <a  class="btn view-btn pull-right" style="color: white">Agree</a>
      </div>
      </div>
    </div>
  </div>


</div>