<header class="w-100  " >
  <div class="container clearfix" >
    <nav class="navbar navbar-expand-lg w-100 px-0">
      <a class="navbar-brand" href="index.html"><img src="assets/img/index/logo.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="ar-index.html"><img src="assets/img/index/ar.png" alt="">
            Arabic </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="./services.html"><i class="fa fa-tag" aria-hidden="true"></i>Services </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login"><i class="fa fa-user" aria-hidden="true"></i>Tag</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>