<footer style="background-image:url(assets/img/index/footer.png)">
	<div class="row align-items-center d-flex h-100 w-100 mx-0">
		<div class="container text-center px-0">
			<div class="footer-content col-md-7 col-12">
				<h2>Subscribe to the mailing list</h2>
				<p>Receive news and offers from us.</p>
				<form #subscribeForm="ngForm">
				<div class="card d-inline-block w-100 ">
					<div class="card-body d-flex justify-content-between trans-card">
						<div class="d-inline-block my-auto">
							<i class="fa fa-envelope"></i>
							<div class="form-group d-inline-block">
								<input type="email" name="email" [(ngModel)]="subscribe_mail['mail']" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="form-control border-0 p-0  custom-email-width"  placeholder="Enter Your Email" required>
								
								
							</div>
						</div>
						
						
						<button class="btn"  value="Add" (click)="subscribeFunction()" [disabled]="!subscribeForm.form.valid" >Send</button>
					</div>
					<div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert-danger bg-white">
							<div *ngIf="email.errors?.required">
								Email field can't be blank
							</div>
							<div *ngIf="email.errors?.pattern && email.touched" class="alert-danger bg-white">
								The email id doesn't seem right
							</div>
						</div>
				</div>
			</form>
				<ul class="list-inline w-100 d-flex justify-content-between">
					<li class="list-inline-item footer-link"><a href="">Efaz Blog</a></li>
					<li class="list-inline-item footer-link"><a href="">Privacy Policy</a></li>
					<li class="list-inline-item footer-link"><a href="">Terms & Conditions</a></li>
				</ul>
				<ul class="list-inline w-100 d-flex justify-content-between">
					<li class="list-inline-item footer-link"><a href="" >© EFAZ 2018-2017</a></li>
					<li class="list-inline-item social-icons ">
						<a href=""><i class="fa fa-facebook-f footer-icon"></i></a>
						<a href=""><i class="fa fa-twitter footer-icon"></i></a>
						<a href=""><i class="fa fa-instagram footer-icon"></i></a>
					</li>
				</ul>
			</div>
			
		</div>
	</div>
</footer>

<!-- Button trigger modal -->
<button type="button" [hidden]="true" class="btn btn-primary" id="failModalButton" data-toggle="modal" data-target="#failModal">
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="failModal" tabindex="-1" role="dialog" aria-labelledby="failModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="failModalLabel">Subscribe Failed</h5>
		  <button type="button" class="close ps-Close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		<span>
				You are already in our mailing list
		</span>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
		</div>
	  </div>
	</div>
  </div>

  
<!-- Button trigger success -->
<button type="button" [hidden]="true" class="btn btn-primary" id="successModalButton" data-toggle="modal" data-target="#successModal">
	Launch demo modal
  </button>
  
  <!-- success Modal -->
  <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content success">
		<div class="modal-header success">
		  <h5 class="modal-title success" id="successModalLabel">Success </h5>
		  <button type="button" class="close ps-Close success" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body success">
		  you are now in our mailing list we will provide you with our latest news
		</div>
		<div class="modal-footer success">
		  <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
		</div>
	  </div>
	</div>
  </div>