<div class="formd">
  <div class="body-form">
    <div class="formheader">
      <div class="image">
        <img routerLink="" src="assets/img/index/logo.png">
      </div>
      <div class="close-it" routerLink="">
        <span>close
          <i class="fa fa-close"></i>
        </span>
      </div>
    </div>
    <div class="form">
      <h2>Registration</h2>
      <h5>All feilds are required</h5>
      <form #signupForm="ngForm" style="color:snow;">
        <label>
          Choose Account Type:
        </label>
        <select class="form-control" name="registration_role" [(ngModel)]="user.registration_role">
          <option value="school">school</option>
          <option value="company">company</option>
        </select>
        <br>
        <label>Username:</label>
        <input name="registeration_username" [(ngModel)]="user.registeration_username" type="text" class="form-control" placeholder="Username"
        minlength="4" #uname="ngModel" pattern = "^[a-zA-Z0-9]{4,15}$"  required>
        <div *ngIf="uname.errors?.minlength || uname.errors?.pattern" class="alert-danger" >
          Name must be at least 4 characters, lower case latin Characters and numbers only without spaces.
     </div> 
        <br>
        <label>Organization Name:</label>
        <input name="registration_organization_name" [(ngModel)]="user.registration_organization_name" type="text" class="form-control"
          placeholder="Organization Name" minlength="3" #oname="ngModel" required>
          <div class="alert-danger" *ngIf="oname.errors?.minlength">
            Organization Name must be at least 3 characters long.
       </div> 
        <br>
        <label>Address:</label>
        <input name="adress" [(ngModel)]="user.registration_address_desc" type="text" #adress="ngModel" class="form-control" placeholder="Address"
          required>
        <br>
        <label>Email:</label>
        <input name="email" [(ngModel)]="user.registeration_email" type="text" #email="ngModel" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
          placeholder="example@gmail.com" required>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert-danger">
          <div *ngIf="email.errors?.required">
            Email field can't be blank
          </div>
          <div *ngIf="email.errors?.pattern && email.touched" class="alert-danger">
            The email id doesn't seem right
          </div>
        </div>
        <br>
        <label>Phone Number</label>
        <input name="registeration_phone_number" [(ngModel)]="user.registeration_phone_number" type="text" class="form-control" placeholder="(002)22222222"
          required>
        <br>
        
        <label >Website Url:</label>
        <!-- if school  -->
        <div *ngIf="user.registration_role=='school'" class="alert-primary round-corners">
            Optional for schools
          </div>
        <input *ngIf="user.registration_role=='school'" name="registeration_website" [(ngModel)]="user.registration_website_url" type="url" class="form-control" placeholder="url">
        
        <!-- if Company  -->
        <input *ngIf="user.registration_role=='company'" name="registeration_website" [(ngModel)]="user.registration_website_url" type="url" class="form-control" placeholder="url" required>
        <br>
        <!-- <label>Password</label>
        <div ngModelGroup="password" #userPassword="ngModelGroup" required class="passflex">
          <input name="pwd" [(ngModel)]="user.registeration_password" ngModel placeholder="Password" type="password"
            id="registeration_password" class="form-control pass pass-box1"
            #passwordone="ngModel"
            pattern="^(?=.*?[#?!@$%^&*-]).{8,}$"
             required>
          <input name="confirmPwd" type="password" ngModel id="confirm_password" placeholder="Confirm Password" class="form-control pass"
            required>
          <div *ngIf="(userPassword.invalid|| passwordone.errors?.pattern || userPassword.value?.pwd != userPassword.value?.confirmPwd) && (userPassword.touched)"
            class=" alert-danger">
            <div *ngIf="userPassword.invalid || passwordone.errors?.pattern; else nomatch">
              <p>
                  Password must be atleast 8 characters/number and contain a special character.
              </p> 
            </div>
            <ng-template #nomatch>
              Passwords don't match
            </ng-template>
          </div>
        </div> -->
        <label>Password</label>
        <div ngModelGroup="password" #userPassword="ngModelGroup" required class="passflex">
          <input name="pwd" [(ngModel)]="user.registeration_password" ngModel placeholder="Password" type="password"
            id="registeration_password" class="form-control pass pass-box1"
            #passwordone="ngModel"
            pattern="^(?=.*?[#?!@$%^&*-]).{8,}$"
             required>
          <input name="confirmPwd" type="password" ngModel id="confirm_password" placeholder="Confirm Password" class="form-control pass"
            required>
          
        </div>
        <div *ngIf="(userPassword.invalid|| passwordone.errors?.pattern || userPassword.value?.pwd != userPassword.value?.confirmPwd) && (userPassword.touched)"
            class=" alert-danger">
            <div *ngIf="userPassword.invalid || passwordone.errors?.pattern; else nomatch">
              <p>
                Password must be atleast 8 characters/number and contain a special character.
                  <span>[#?!@$%^&*-]</span>
              </p> 
              
            </div>
            <ng-template #nomatch>
              Passwords don't match
            </ng-template>
          </div>
        <div class="rec-holder">
            <re-captcha (resolved)="resolved($event)" siteKey="6LdbeGwUAAAAANsYmppwmJ0n9ZzQIi2cGhea2fvq" [(ngModel)]="signupForm.captcha"
            name="captcha"
            required></re-captcha>
        </div>
        <br>
        <div *ngIf="success_flag" class="alert-success">
          Request succeeded !
        </div>
        <div *ngIf="fail_flag" class="alert-danger">
          Request failed !
        </div>
        <input type="submit" (click)="signUp()" class="btn btn-success form-control" value="Register Now!" [disabled]="!signupForm.form.valid">
      </form>
    </div>
  </div>
</div> 