<app-home-header></app-home-header>
<!--section -->
<section class="intro" style="background-image:url(assets/img/index/footer.png)">
	<div class="overlay">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-12 m-auto">
					<h3 class="font-weight-bold">Welcome {{orgname}}</h3>
					<p class="description m-auto text-center">Engaging all students in partnership with family and community to be informed compassionate, global citizens </p>
					<!-- <h4 class="text-center" style="color:#28a745">Welcome to our Service</h4> -->
					<a href="" class="d-block text-center btn-work">How it Work ?</a>

					<!-- <ul class="list-unstyled list-inline text-center">
						<li class="list-inline-item"><a href=""><img src="assets/img/index/souq.png" alt=""></a></li>
						<li class="list-inline-item"><a href=""><img src="assets/img/index/souq.png" alt=""></a></li>
						<li class="list-inline-item"><a href=""><img src="assets/img/index/souq.png" alt=""></a></li>
						<li class="list-inline-item"><a href=""><img src="assets/img/index/souq.png" alt=""></a></li>
						<li class="list-inline-item"><a href=""><img src="assets/img/index/souq.png" alt=""></a></li>
					</ul> -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Start Services -->
<section class="services">
	<div class="container">
		<h2 class="text-center"><span>Efaz</span> Services</h2>
		<p class="text-center description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore ,</p>
		<div class="row">
			<div class="col-lg-4 col-md-6 col-12 d-flex align-items-stretch">
				<div class="card" style="background-image:url(assets/img/index/01.png)">
					<div class="overlay">
						<div class="meta d-flex align-items-baseline justify-content-start flex-column-reverse h-100">
							<a [routerLink]="['/offer-platform']" class="btn">more<i class="fa fa-chevron-right"></i></a>
							<p>Colombia is heading for afarun-off its presidentiatee achieves 50%..></p>
							<a [routerLink]="['/offer-platform']" style="background-color:transparent;color:#000"><h4 ><span class="font-weight-bold">Offers</span> Platform</h4></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-12 d-flex align-items-stretch">
				<div class="card" style="background-image:url(assets/img/index/01.png)">
					<div class="overlay">
						<div class="meta d-flex align-items-baseline justify-content-start flex-column-reverse h-100">
							<a [routerLink]="['/unifying-platform']" class="btn">more<i class="fa fa-chevron-right"></i></a>
							<p>Colombia is heading for afarun-off its presidentiatee achieves 50%..></p>
							<a [routerLink]="['/unifying-platform']" style="background-color:transparent;color:#000"><h4 ><span class="font-weight-bold">Unifying</span> Platform</h4></a>
						</div>
					</div>
				</div>
				
			</div>
			<div class="col-lg-4 col-md-6 col-12 d-flex align-items-stretch">
				<div class="card" style="background-image:url(assets/img/index/01.png)">
					<div class="overlay">
						<div class="meta d-flex align-items-baseline justify-content-start flex-column-reverse h-100">
							<a [routerLink]="['/purchase-platform']" class="btn">more<i class="fa fa-chevron-right"></i></a>
							<p>Colombia is heading for afarun-off its presidentiatee achieves 50%..></p>
							<a [routerLink]="['/purchase-platform']" style="background-color:transparent;color:#000"><h4 ><span class="font-weight-bold">Purchasing</span> Platform</h4></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<app-footer></app-footer>