/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
/* Start General Style */
/*
@font-face {
  font-family: 'Century-Gothic';
  src: url("../fonts/Century-Gothic.ttf") format("truetype");
}
*/
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');
*{
	font-family: 'Do Hyeon', sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Oswald:400,600');

/* font-family: 'Oswald', sans-serif; */
body {
	overflow-x: hidden;
	font-family: 'Oswald', sans-serif;
	
} 


a:hover {
	text-decoration: none;
}
/* End General Style */
header {
	position: absolute;
	z-index: 99999;
}

header .navbar-toggler i{
	color: #12a5e1;
}

header .nav-item{ 
	color: snow;
	padding: 0 20px;
}
header .nav-link{ 
	color:snow;
}
header .nav-link i {
	margin-right: 10px;
	color: snow;
}
header .nav-link.register {
	text-decoration: underline;
}
header .nav-link.register i {
	color: #0fc35b;
}
header .nav-link img{ 
	width: 20px;
}

@media (max-width: 992px) {
	header .navbar-collapse.show {
		background-color: rgb(17, 16, 22);
	}
	
	header .nav-item{
		padding: 6px 20px;
	}
}

body.rtl  {
	text-align: right;
}
body.rtl .ml-auto {
	margin-right: auto !important;
	margin-left: 0 !important;
}
body.rtl header .nav-link i {
	margin-right: 0;
	margin-left: 10px;
}

.intro {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}

.intro .overlay {
	background: linear-gradient(90deg, rgba(32, 54, 118, 0.19) 0%, rgba(3, 155, 225, 0.59) 63%);
	height: 100%;
}

.intro h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	margin-bottom: 30px;
	margin-top: 170px;
	text-align: center;
}

.intro .description {
	font-size: 22px;
	max-width: 80%;
	padding-bottom: 50px;
}
.intro button {
	font-size: 18px;
	padding: 12px;
	margin-bottom: 30px;
}
.intro button i{
	margin-right: 10px;
	
	color: whitesmoke;
}

body.rtl .intro button i{
	margin-right: 0;
	margin-left: 10px;
}
.intro .btn-work {
	color: white;
	text-decoration: underline;
	margin-bottom: 50px;
}

.intro ul {
	margin-bottom: 30px;
}

.intro ul img {
	max-width: 150px;
}




@media (max-width: 1200px) { 
	.intro h3 {
		font-size: 34px;
		margin-bottom: 30px;
		margin-top: 150px;
	}
	.intro .description {
		font-size: 20px;
	max-width: 97%;
	}
}

@media (max-width: 992px) { 
	.intro h3 {
		font-size: 28px;
		margin-top: 130px;
		text-align: center;
	}
	.intro .description {
		font-size: 16px;
		max-width: 84%;
		margin-bottom: 40px;
	}

	.intro .btn-work {
		margin-bottom: 40px;
	}
}

@media (max-width: 576px) {
	.intro .description {
		font-size: 14px;
		max-width: 92%;
		margin-bottom: 40px;
	}
} 
/* ......  */
body {
	overflow-x: hidden;
	font-family:  Arial, Helvetica, sans-serif;
	
} 
a:hover {
	text-decoration: none;
}
/* End General Style */
/*start header */
header {
	position: absolute;
	z-index: 99999;
}

header .navbar-toggler i{
	color: #12a5e1;
}

header .nav-item{ 
	color: #fff;
	padding: 0 20px;
}
header .nav-link{ 
	color: #fff;
}
header .nav-link i {
	margin-right: 10px;
}
header .nav-link.register {
	text-decoration: underline;
}
header .nav-link.register i {
	color: #0fc35b;
}
header .nav-link img{ 
	width: 20px;
}

@media (max-width: 992px) {
	header .navbar-collapse.show {
		background-color: rgb(17, 16, 22);
	}
	
	header .nav-item{
		padding: 6px 20px;
	}
}
/*end header*/
/* Start Footer */
footer {
	color: white;
	height: 460px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.footer-content {
	margin: 64px;
  margin: auto;
}

footer h2 {
	font-size: 37px;
	margin-bottom: 13px;
	font-family:  Arial, Helvetica, sans-serif;
}

footer p {
	font-size: 20px;
	margin-bottom: 50px;
}

footer .card {
	margin-bottom: 50px;
	background-color: transparent;
	border: 1px solid #2b2a30;
	border-radius: 5px;
	padding: 0;
	
}

footer .card-body {
	padding: 16px 10px 12px 10px;
}

footer .card i {
	color: #12a5e1;
	margin-right: 10px;
}

body.rtl footer .card i {
	margin-left: 10px;
	margin-right: 0;
}

footer .card input {
	background-color: transparent;
	margin-top:2%;

}

footer .card input:focus {
	background-color: transparent;
	box-shadow: none;
	border-bottom: 1px solid #12a5e1 !important;
	border-radius: 0;
	color: #fff;
}

footer .card button {
	background-color: #fff;
	color: #0fc35b;
	font-size: 16px;
	margin-top:2%;
	height: 30px;
	line-height: 15px;
	font-family: Arial, Helvetica, sans-serif;
}

footer .card input::placeholder {
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

footer .social-icons i{
	margin: 0 20px;
}

footer a {
	color: white;
}

footer a:hover {
	color: white;
	text-decoration: none;
}

footer .custom-email-width{
	width: 130%;
}

@media (max-width: 767px) {
	footer {
		height: auto;
		padding: 30px 0;
	}

	footer h2{
		font-size: 24px;
	}

	footer p {
		font-size: 14px;
		margin-bottom: 20px;
	}

	footer .card {
		margin-bottom: 20px;
	}

	footer .card-body {
		padding: 15px 18px;
	}

	footer li {
		text-align: left;
	}

	footer .social-icons i {
		margin: 0 5px;
	} 
}
/* End Footer */

.offer-heading{
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
}

/* You can add global styles to this file, and also import other style files */

.slide-in {
  transform: translateX(0px);
  transition: all ease-in-out 0.3s;
}

.slide-out {
  transform: translateX(-400px);
  transition: all ease-in-out 0.3s;
}


#side-bar {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 30;
    width: 270px;
    overflow-y: auto;
  }
  
  #side-bar h1 {
    font-size: 45px;
  }
  
  h1 .fa {
    font-size: 20px;
  }
  .fa{
    color: #00b7cb ;
  }
 
  h3 {
    color: #00b7cb;
  }
  
  #side-bar::-webkit-scrollbar {
    width: 2px;
    background: none;
  }
  
  #side-bar::-webkit-scrollbar-track {
    border-radius: 5px;
  }
  
  #side-bar::-webkit-scrollbar-track-piece {
    background: transparent;
  }
  
  #side-bar::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 5px;
    background: rgba(4, 162, 179, 0.8);
    transition: all 0.3s ease-in-out;
  }
  
  #side-bar::-webkit-scrollbar-thumb:hover {
    background: rgba(4, 162, 179, 1);
    transition: all 0.3s ease-in-out;
  }
  .breadcrumb{
    background-color: white
  }
  .breadcrumb-item a {
    text-decoration: none;
    color: #00b7cb;
  }

  
.list-group .list-group-item {
  border-radius: 0 !important;
  color: #aaa;
}

.list-group .list-group-item.active {
  background: #04a2b3 !important;
  border: solid 1px #04a2b3;
  color: white;
}

.list-group .list-group-item .badge {
  background: #00b7cb;
}

.nav-item.active i {
  color: #00b7cb !important;
}

.list-group .list-group-item .fa,
h1 {
  font-size: 1.25rem;
  position: relative;
  padding-right: 5px;
}

.list-group .list-group-item-action:hover {
  background: rgba(4, 162, 179, 0.7);
  color: white !important;
}

.list-group-item {
  background: rgba(4, 162, 179, 0.6);
  color: rgba(255, 255, 255, 0.60);
  padding-left: 40px !important;
  font-weight: 500;
  transition: all 0.2s ease-in;
}

 .list-group-item:hover {
  background: rgba(4, 162, 179, 1);
  color: rgba(255, 255, 255) !important;
  border-bottom: solid 1.3px rgba(4, 162, 179, 0.7);
  transition: all 0.2s ease-in;
  /* background-color : #222; */
}

 .list-group-item {
  background: rgba(4, 162, 179, 0.6);
  color: rgba(255, 255, 255, 0.60);
  padding-left: 40px !important;
  font-weight: 500;
  transition: all 0.2s ease-in;
}

 .list-group-item:hover {
  background: rgba(4, 162, 179, 1);
  color: rgba(255, 255, 255) !important;
  border-bottom: solid 1.3px rgba(4, 162, 179, 0.7);
  transition: all 0.2s ease-in;
  /* background-color : #222; */
}

.alert-ball {
  position: static;
  top: 7px;
  right: 8px;
  width: 8px;
  height: 8px;
  z-index: 0;
  background-color: crimson;
  border-radius: 100%;
}

/* .navbar-nav .nav-item {
   border-radius: 100%;
   border: solid 2px white;
   width: 40px;
   height: 40px;
   margin: 5px;
} */

.navbar-nav .nav-link {
  position: relative;
}


.progress {
  height: 8px;
  border-radius: 4px;
}

.table-hover tbody tr:hover {
  background: rgba(4, 162, 179, 0.7) !important;
  color: white;
}

/* ================================================================ */

/* login frame */






.input-group-addon {
  border-color: rgba(255, 255, 255, 0.8);
  border-left: none;
  background: rgba(0, 0, 0);
  padding: inherit 15px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  color: white;
}

a {
  cursor: pointer;
}

.form-group label {
  font-size: 18px;
  font-weight: 500;
  color: #00b7cb;
  opacity: 0.8;
}

/* .input-group .form-control,
.form-control:visited {
  border-color: rgba(255, 255, 255, 0.8);
  border-right: none;
  background: rgba(0, 0, 0);
  color: white;
} */

.form-control:focus {
  border-color: #00b7cb !important;
  color: #00b7cb;
}

.form-control:focus+.input-group-addon {
  border-color: #00b7cb;
  color: #00b7cb;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}




.link-green:hover {
  color: #04a2b3;
  text-decoration: none;
}




.ng-invalid {
  color: red;
}

/* add new activity form  */



/* 
label {
  padding-top: 10px;
}

.control {
  text-align: center;
} */

.btn-edit {
  
  border-color: #00b7cb;
  color: #00b7cb !important;
  border: 2px solid #00b7cb; 
  transition: all ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.btn-edit:hover {
  background: white;
  border-color: #00b7cb;
  color: #00b7cb !important;
}

.avilable{
  color:green;
}

.card{

	border: 1px solid #00b7cb	
}
.txt-color{
  color:#96c2c7 ;
}

.card-h {
  font-weight: 500
}
.card-content{
  color:grey;
}

.alert{
  display:none;
}

.nav-link:hover{
		text-decoration: underline !important;
		color: snow;
}
.nav-link:last-child:hover{
		text-decoration: none;
}

.footer-link:hover{
	text-decoration:underline;
}
.footer-icon:hover{
	color: snow;
}

.btn-green {
	background-color: #96c2c7;
}

.view-btn {
	background-color: limegreen;
	color: white;
	width: 80px
}
.card-big {
	width: 100%
}

.btn-blue{
	color: white;
	background-color: #12a5e1;
	width: 80px
}

.color-grey{
	color: grey;
}

.card-f{
	width: 500px
}